/*===Nav Bar Content===*/
.HomeBtn {
  margin-right: 15px;
  width: 60px;
  height: 60px;
  background: #61b3b3;
  border-radius: 9999px;
  position: relative;
  z-index: 12;

  top: 25px;
  left: 7px;
}

.HomeBtn:hover {
  box-shadow: 0px 16px 10.699999809265137px rgba(52, 61, 61, 0.25) inset;
}

.HomeIcon {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ResumeBtn {
  margin-right: 15px;
  width: 60px;
  height: 60px;
  background: #61b3b3;
  border-radius: 9999px;
  position: relative;
  z-index: 12;

  top: 25px;
  left: 7px;
}

.ResumeBtn:hover {
  box-shadow: 0px 16px 10.699999809265137px rgba(52, 61, 61, 0.25) inset;
}

.ResumeIcon {
  position: absolute;
  top: 53%;
  left: 60%;
  transform: translate(-54%, -50%);
}

.ResumeBtnText {
  color: #f8f3ec;
  font-size: 12px;

  position: relative;
  top: -4px;
  left: -12%;
}

.ResumeBtn > a {
  text-decoration: none;
}

/*===Footer Content===*/
.FooterHeader {
  position: relative;
  font-size: 20px;
  margin-bottom: 7px;
  color: #f8f3ec;

  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.PhoneNo {
  position: relative;
}

.PhoneIcon {
  left: 43.5%;
  top: 0px;
  position: absolute;
}

.PhoneNoText {
  color: #f8f3ec;
  font-size: 12.8px;
}

.Email {
  position: relative;
  margin-top: 5px;
}

.EmailIcon {
  left: 40.5%;
  top: 0px;
  position: absolute;
}

.EmailText {
  color: #f8f3ec;
  font-size: 12.8px;
}

.FooterLine {
  position: absolute;
  left: 48.5%;
  margin-top: 3px;
}

/*===Splash Image Content===*/
.SplashImgBackground {
  height: 100vh;
  width: 100vw;
  background-image: url("/indeximages/SplashScreenBackground.jpg");
  object-fit: fill;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  position: relative;
  z-index: 1;
}

.SplashContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

.splash-avatar {
  position: absolute;
  transform: rotate(-10deg);

  top: 145px;
  left: 60px;

  width: 345px;
  height: 300px;
  z-index: 2;
}

.splash-h1 {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 76.29px;
  color: #384242;

  transform: rotate(-9deg);
  position: absolute;

  top: 110px;
  left: 400px;
  z-index: 2;
}

.splash-h2 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;

  position: absolute;
  color: #384242;

  top: 210px;
  left: 650px;

  transform: rotate(5deg);
  z-index: 2;
}

.splash-arrow {
  position: absolute;
  top: 265px;
  left: 770px;

  width: 85px;
  height: 120px;
  z-index: 2;
}

/*.splash-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  position: relative;
  object-fit: cover;
  z-index: 1;
}

.SplashContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

.splash-avatar {
  position: absolute;
  transform: rotate(-10deg);

  top: 145px;
  left: 60px;

  width: 345px;
  height: 300px;
  z-index: 2;
}

.splash-h1 {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 76.29px;
  color: #384242;

  transform: rotate(-9deg);
  position: absolute;

  top: 110px;
  left: 400px;
  z-index: 2;
}

.splash-h2 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;

  position: absolute;
  color: #384242;

  top: 210px;
  left: 650px;

  transform: rotate(5deg);
  z-index: 2;
}

.splash-arrow {
  position: absolute;
  top: 265px;
  left: 770px;

  width: 85px;
  height: 120px;
  z-index: 2;
}*/
